;---------------------------------------------------------------
; Auth Server Configuration File
;---------------------------------------------------------------

; Listening Port for  Game Server (default: 2104)
serverPort = 2104

; Listening Port for AuthGateD (default: 2106)
serverExPort = 2106

; Listening Port for Interactive Socket(For GM Tools) (default: 2108)
serverIntPort = 2108

; Game server port to let clients know and connect.
;worldport = 8111
worldport = 7000 
;worldport = 2106

; DB Connection Pool (default: 64)
DBConnectionNum = 2

; The number of working thread for Game server and AuthGateD (default: 64)
numServerThread = 64

; The number of Working thread for Interactive Socket (default: 4)
numServerIntThread = 4

; Socket timeout (sec) (default: 180)
SocketTimeOut = 180

; The number of concurrent accept call (default: 4)
AcceptCallNum = 4

WaitingUserLimit = 100
;---------------------------------------------------------------
; LogD

; Use LogD or not
UseLogD = false

; LogD IP Address
logdip = "10.10.13.10"

; LogD port (default: 3999)
logdport = 3999

; Interval between tries to reconnect when connection closed (sec)
logdconnectinterval = 1200


;---------------------------------------------------------------
; IP Server

; Use IP Server or not
UseIPServer = false

; IP Server IP Address
IPServer = "70.100.1.5"

; IP Server port (default: 2113)
IPPort = 2113

; Interval between tries to reconnect when connection closed (sec)
IPInterval = 60


;---------------------------------------------------------------
; WantedSystem

; Use WantedSystem or not
UseWantedSystem = false

; WantedSystem IP Address
WantedIP = "10.10.10.234"

; WantedSystem port
WantedPort = 2122

; Interval between tries to reconnect when connection closed (sec)
WantedReconnectInterval = 3600

;---------------------------------------------------------------
; NotifySystem

; Use NotifySystem or not
UseNotifySystem = false

; NotifySystem IP Address
NotifyIP = "70.100.0.117"

; NotifySystem port
NotifyPort = 2200

; Interval between tries to reconnect when connection closed (sec)
NotifyReconnectInterval = 60

;---------------------------------------------------------------
; GM

; If GMCheckMode is true, Only GMs are permitted to play game.
; To make users possible playing game under GMCheckMode, you can
; alter state by sending "4\t0\n" through interactive port.
GMCheckMode = false

; Only single IP can be used for GM.
RestrictGMIP = true

; The sigle IP Address for GM.
GMIP = "61.40.243.207"

;---------------------------------------------------------------
; Security Cards

; Use Security Cards for login on/off
UseSecurityCard = false

; Maximum allowed failure try
securityFailureCount = 3

;---------------------------------------------------------------
; Under Age time limit

; Use under age time-limit for login on/off
UseUnderAgeTimeLimit = false

; Limit period from (24H)
; If underAgeTimeLimitTo value exceeds underAgeTimeLimitFrom value,
; it means next day.
underAgeTimeLimitFrom = 15

;
underAgeTimeLimitTo = 16

;---------------------------------------------------------------
; ETC

; log files directory
logDirectory = "log"

; Country code (0 Korea, 1 Japan, 2 China, 3 Taiwan)
CountryCode = 2

; Maximum allowed connections for a IP address (0 means no limit)
IPAccessLimit = 0

; Allow reconnecting from game server (Caution, If you use IP Server, this option must be false)
supportReconnect = false

; Charge current logged in users when game servers are gone
chargeWhenServerDown = true

; Leave Packet log or not. (This option can be ORd with 1 ipserver, 2 authgate, 4 world packet)
UsePacketLog = 7

; Use new method for password encryption
EEncrypt = true

DesApply = true

;
GameID = 8

;
PacketSizeType = 3

;
OneTimeLogOut = true

;
UserData = true

;
FreeServer = false

;
ProtocolVersion = 30810

;
AutoKickAccount = true

; The number of maximum AuthGateDs
SocketLimit = 255

; charge to PC cafe before charging to users. (So far, only Japan can be true)
PCCafeFirst = false

;---------------------------------------------------------------
; Only for Developer

;
ReadLocalServerList = false

useQueue = false

sendQueueLevel = false

; Un-comment and set these values to override the default logging filters
; "Verbose" logging adds more detail to the log.
;enableVerboseLogging = false
; "Debug" logging adds the highest level of detailed logging.
;enableDebugLogging = false
